table .base-col {
	width: 20%;
}

table .desc {
  font-size: 8px;
  margin-bottom: 3px;
}

a {
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}

table .person {
  font-size: 8px;
  margin-bottom: 0px;
}

table th {
  text-align: center;
}

#description {
  resize: none;
}